{% extends 'base.html' %}
{% load render_table from django_tables2 %}
{% load export_url from django_tables2 %}
{% load static %}
{% block title %}{{ block.super }}{{  title }}{% endblock %}
{% block javascriptOLD %}
{% endblock %}

{% block extra_css %}
    <link href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" rel="stylesheet">
    <link href="https://cdn.datatables.net/buttons/1.5.2/css/buttons.dataTables.min.css" rel="stylesheet">
{% endblock extra_css %}

{% block navbar-left %}
    {% include "_navbar.html" with active_link="audit" %}
{% endblock navbar-left %}

{% block content %}

<div style="padding-top: 20px; vertical-align:middle; line-height: 28px" >
	<span style="font-size: 38px; float:left; ">{{ header }}</span>


	<div style="clear: both;"></div>
    <br>
</div>
<table class="table responsive no-wrap" id="users-table">
    <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Affiliation</th>
            <th>Job Title</th>
            <th>User Type</th>
            <th>Email</th>
            <th>Phone</th>


            <th>Date Created</th>
            <th>Last Login</th>
        </tr>
    </thead>
</table>




{#{% render_table table %}#}
{% endblock %}

{% block new_extra_js %}
    {% include "includes/extra_js.html" %}
    {% if IIS_APP_ALIAS != '' %}
        <script>
         // add the IIS Application Alias to each of the URL values
            var IIS_APP_ALIAS = "{{ IIS_APP_ALIAS }}";
            if (IIS_APP_ALIAS.length > 0) {
                for (var key in SETTINGS.URLS) {
                    SETTINGS.URLS[key] = '/' + IIS_APP_ALIAS + SETTINGS.URLS[key];
                }
            }
        </script>
    {% endif %}

    <script src="{% static 'audit/js/user.js' %}"></script>

{% endblock %}
