{% load static %}
<style>
    .help_col {
        padding: 0px;
    }
</style>

<div id="costitems">
    <div class="container">
        <div class="row">
            <div class="col table_col">

               <form name="calculator" onsubmit="return false;" id="calculator" method="get">

                    <!-- jab-start -->
               <button id='recalculate_costs' type="button"
                    style="float: right; margin-bottom: 7px; margin-right: 20px;"
                    class="btn btn-primary" onclick="event.stopPropagation();recalculateCosts(this)">
                    <span class="glyphicon glyphicon-copy"></span> Recalculate
                </button>
               <h3 class="bmplabel" onclick="toggleHelpText('CostItemUnitCostsHelpText');">Cost Item Unit Costs</h3>

            <table border="1" cellpadding="0" cellspacing="0" class="costItemTable" >
                <thead>
                    <tr style="text-align: center;">
                        <th style="width: 125px;">Cost Item</th>
                        <th style="width: 46px;">Bid Units</th>
                        <th style="width: 200px;">Unit Cost</th>
                        <th style="width: 46px;">User Input</th>
                        <th style="width: 46px;">Year</th>
                        <th style="width: 46px;">Rep. Life<br>(yrs)</th>
                        <th style="width: 46px;">Ongoing O&amp;M Factor (%)</th>
                    </tr>
                </thead>

                <tbody>
{% for cost_item in cost_items %}
                    <tr>
                        <td class="td_left_padded input-group-link-text"
                                onclick="open_cost_item_help('{{ cost_item.code }}');">{{ cost_item.name }}</td>
                        <td class="td_centered">{{ cost_item.units }}</td>
                        <td>
                            <select id="ui_{{ cost_item.code }}_cost_source"
                                    autocomplete="off"
                                    class="form-control" onkeypress="returnCalc(this);"
                                    onchange="runCalculate(this);" >
                                <option value="user">User </option>
                                {%  for default_cost in cost_item.default_costs %}
                                    <option value="{{ default_cost.id }}" {% if default_cost.selected is True %}selected="selected"{% endif %}>{{ default_cost.cost_type }} {{ default_cost.valid_start_date_tx }} - {{ default_cost.value_numeric }}</option>
                                {%  endfor %}


                            </select>
                        </td>
                        <td>
                            <input disabled type="text" class="form-control"

                                   id="ui_{{ cost_item.code }}_user_input_cost"
                                   onkeypress="returnCalc(this);" onchange="runCalculate(this);"
                            >
                        </td>
                        <td>
                            <input disabled type="text" class="form-control"

                                   id="ui_{{ cost_item.code }}_base_year"
                                onkeypress="returnCalc(this);" onchange="runCalculate(this);" >

                        </td>
                        <td>
                            <input type="text" class="form-control left_aligned"

                                   id="ui_{{ cost_item.code }}_replacement_life"
                                   value="{{ cost_item.replacement_life }}"
                                onkeypress="returnCalc(this);" onchange="runCalculate(this);" >

                        </td>
                        <td>
                            <input type="text" class="form-control"

                                   id="ui_{{ cost_item.code }}_o_and_m_pct"
                                   value="{{ cost_item.o_and_m_pct }}"
                                onkeypress="returnCalc(this);" onchange="runCalculate(this);" >
                        </td>
                    </tr>

{% endfor %}


                </tbody>
            </table>


                    </form>
            </div>
            <div id="help_system" class="col help_col">

                {% include "scenario/costtool/subpages/help_text/costitems.html" %}
            </div>
        </div>
    </div>

</div>

