<li class="nav-item{% if active_link == 'home' %} active{% endif %}">
    <a class="nav-link" href="{% url 'home' %}">HOME</a>
</li>
    <li class="nav-item{% if active_link == 'why' %} active{% endif %}">
        <a class="nav-link" href="{% url 'why' %}">WHY IS RALEIGH INVESTING IN GSI</a>
    </li>
    <li class="nav-item{% if active_link == 'setup' %} active{% endif %}">
        <a class="nav-link" href="{% url 'setup' %}">HOW IS THE GSI COST TOOL SETUP</a>
    </li>
<!--<li class="nav-item{#% if active_link == 'location' %#} active{#% endif %#}"><a class="nav-link" href="{#% url 'scenario:location_list' %#}">Locations</a></li>-->


{% if user.is_authenticated %}

    <li class="nav-item{% if active_link == 'instructions' %} active{% endif %}">
        <a class="nav-link" href="{% url 'instructions' %}">INSTRUCTIONS</a>
    </li>
    <li class="nav-item{% if active_link == 'internal' %} active{% endif %}">
        <a class="nav-link" href="{% url 'internal' %}">INTERNAL</a>
    </li>
    <li class="nav-item{% if active_link == 'project' %} active{% endif %}">
        <a class="nav-link" href="{% url 'scenario:project_index' %}">PROJECTS</a>
    </li>
    {%  if project is not None  %}
        <li class="nav-item{% if active_link == 'scenario' %} active{% endif %}">
            <a class="nav-link" href="{% url 'scenario:project_scenario_index' project.id %}">SCENARIOS</a>
        </li>
    {%  endif %}
{% endif %}
