{%  load filters %}
<!-- this is the menu bar at the top of all the pages -->

<li class="nav-item{% if active_link == 'home' %} active{% endif %}">
    <a class="nav-link" href="{% url 'home' %}"><span class="glyphicon glyphicon-home" style="font-size:15px;padding: 2px!important;"></span></a>
</li>
{% if user.is_superuser or user.is_staff %}
{#    <li class="nav-item{% if active_link == 'why' %} active{% endif %}">#}
{#        <a class="nav-link" href="{% url 'why' %}">RELATED GSI SUPPORT TOOLS</a>#}
{#    </li>#}
{%  endif %}
<li class="nav-item{% if active_link == 'setup' %} active{% endif %}">
    <a class="nav-link" href="{% url 'setup' %}">HOW IS THE GSI COST TOOL SETUP</a>
</li>

{% if user.is_authenticated %}

    <li class="nav-item{% if active_link == 'instructions' %} active{% endif %}">
        <a class="nav-link" href="{% url 'instructions' %}" {% if active_link == 'project' or active_link == 'scenario'  %}target="_instructions"{% endif %}

        ">INSTRUCTIONS</a>
    </li>
    <li class="nav-item{% if active_link == 'reference' %} active{% endif %}">
        <a class="nav-link" href="{% url 'reference' %}">REFERENCES</a>
    </li>
    {% if user.is_superuser or user.is_staff %}
        <li class="nav-item{% if active_link == 'audit' %} active{% endif %}">
            <a class="nav-link" href="{% url 'audit' %}">AUDIT</a>
        </li>
        {%  endif %}
    <li class="nav-item{% if active_link == 'project' %} active{% endif %}">
        <a class="nav-link" href="{% url 'scenario:project_index' %}">PROJECTS</a>
    </li>
    {%  var_exists 'project' as project_exists %}
    {%  if project_exists  %}
        <li class="nav-item{% if active_link == 'scenario' %} active{% endif %}">
            <a class="nav-link" href="{% url 'scenario:project_scenario_index' project.id %}">SCENARIOS</a>
        </li>
    {%  endif %}
{% endif %}
