{% extends 'base.html' %}

{% load static %}
{% block title %}{{ block.super }}Projects{% endblock %}
{% block javascriptOLD %}

{% endblock %}

{% block extra_css %}
<link href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" rel="stylesheet">
<link href="https://cdn.datatables.net/buttons/1.5.2/css/buttons.dataTables.min.css" rel="stylesheet">
<style>
    div.dt-buttons{
        padding-top: 5px;
    }
</style>

{% endblock extra_css %}

{% block navbar-left %}
  {% include "_navbar.html" with active_link="audit" %}
{% endblock navbar-left %}

{% block content %}

<div style="padding-top: 20px; vertical-align:middle; line-height: 28px" >
	<span style="font-size: 38px; float:left; ">{{ header }}</span>


	<div style="clear: both;"></div>
<br>
</div>
{% if user.is_superuser %}
    <div id="is_superuser" display="none";></div>
{% endif %}
  <table class="table" id="project-table">
    <thead>
      <tr>
        <th>#</th>
        <th>User Name</th>
            <th>Organization</th>
            <th>Job Title</th>
          <th>User Type</th>
        <th>Title</th>
        <th>Location</th>
        <th>Type</th>
        <th>Purchase Information</th>
        <th>Total Area<sup>2</sup></th>


          <th>Scenario<br>Count</th>
{#          <th>Created</th>#}
{#        <th>Last Modified</th>#}
        <th>&nbsp;</th>
      </tr>
    </thead>

  </table>

{#    This is where the modal gets injected #}
  <div id="modal-project" class="modal fade" >
    <div class="modal-dialog">
      <div class="modal-content">

      </div>
    </div>
  </div>

{% endblock %}

{% block new_extra_js %}
    {% include "./includes/extra_js.html" %}
    {% if IIS_APP_ALIAS != '' %}
        <script>
         // add the IIS Application Alias to each of the URL values
            var IIS_APP_ALIAS = "{{ IIS_APP_ALIAS }}";
            if (IIS_APP_ALIAS.length > 0) {
                for (var key in SETTINGS.URLS) {
                    SETTINGS.URLS[key] = '/' + IIS_APP_ALIAS + SETTINGS.URLS[key];
                }
            }
        </script>
    {% endif %}


    <script src="{% static 'project/js/project_audit.js' %}"></script>

{% endblock %}
