{% extends "base.html" %}

{% load static %}

{% block title %}{{ block.super }}Home{% endblock %}

{% block navbar-left %}
  {% include "_navbar.html" with active_link="scenario" %}
{% endblock %}

{% block navbar-right %}
  {% if not user.is_authenticated %}
<a class="btn btn-default" href="{% url 'accounts:login' %}" role="button">Log in</a>
<a class="btn btn-primary" href="{% url 'accounts:signup' %}" role="button">Sign up</a>
  {% else %}
    {{ block.super }}
  {% endif %}
{% endblock %}

{% block container %}
<script>
function includeHTML() {
  var z, i, elmnt, file, xhttp;
  /*loop through a collection of all HTML elements:*/
  z = document.getElementsByTagName("*");
  for (i = 0; i < z.length; i++) {
    elmnt = z[i];
    /*search for elements with a certain atrribute:*/
    file = elmnt.getAttribute("w3-include-html");
    if (file) {
      /*make an HTTP request using the attribute value as the file name:*/
      xhttp = new XMLHttpRequest();
      xhttp.onreadystatechange = function() {
        if (this.readyState == 4) {
          if (this.status == 200) {elmnt.innerHTML = this.responseText;}
          if (this.status == 404) {elmnt.innerHTML = "Page not found.";}
          /*remove the attribute, and call this function once more:*/
          elmnt.removeAttribute("w3-include-html");
          includeHTML();
        }
      }
      xhttp.open("GET", file, true);
      xhttp.send();
      /*exit the function:*/
      return;
    }
  }
}
</script>
<script type="application/javascript">
    $(document).ready(function() {
      $(".slidingDiv").hide();

      $('.show_hide').click(function(e) {
        $(".slidingDiv").slideToggle("fast");
        var val = $(this).text() == "-" ? "+" : "-";
        $(this).hide().text(val).fadeIn("fast");
        e.preventDefault();
      });
    });
</script>
<div class="container" style="padding-top: 100px;">
  <div class="row">
    <div class="col-lg-4">
      <h2>Task 1,000,000 - Develop Cost Tool Architectural Concepts</h2>

<p class=MsoNormal><span style='font-size:12.0pt;line-height:107%'>Tetra Tech
will use the Cost-Benefit Tool Concept document (Tetra Tech, 2016) developed
with the City of Raleigh and background research as a foundation for this
project. The project team will continue to research key aspects of existing
tools (e.g., cost equations, input and output, friendly formats) as appropriate
to incorporate into this new web-based application, and a preliminary
architecture will be outlined to test against the research objective. It is
expected that there will be multiple elements that the team gathers and
evaluates during initial planning. <o:p></o:p></span></p>

<p class=MsoNormal><span style='font-size:12.0pt;line-height:107%'>During the
early portion of Task 1, Tetra Tech will work with the City to assemble a
Project Advisory Committee (PAC). The purpose of the PAC will be to provide
input and tool testing from intended tool users to enhance tool design and
performance in achieving the City's objectives for the tool. Agreed upon
architectural concepts will be documented to guide tool development and
testing. Potential PAC members include City staff that oversee site plan
designs for City property and private development (e.g., Construction
Management, Development Services, Stormwater Management) along with third party
designers associated with site development. <o:p></o:p></span></p>

<p class=MsoNormal><span style='font-size:12.0pt;line-height:107%'>To identify
and evaluate tool architectural concepts, the team will solicit input from the
PAC to establish optimal inputs and outputs for the tool. The goal is to test
the applicability of the cost tool with variations of inputs and outputs that
will increase the likelihood of its use to assist municipalities and the development
community during pre-development, site design, and design stages of review. The
challenge of creating an accurate, user-friendly cost estimation tool is making
sure that the tool remains simple while containing just enough detail to
satisfy the intended user by showing that the application is a credible
resource. Expectations for level of detail and accuracy at the three stages
will be explored with the PAC. <o:p></o:p></span></p>

<p class=MsoNormal><span style='font-size:12.0pt;line-height:107%'>Additionally,
Tetra Tech will work with the PAC to conceptualize how the tool can best incorporate
estimation of potential cost savings of smart design (e.g., LID) features such
as narrowing street widths, eliminating curb and gutter, and reducing or
eliminating drainage piping where swales can meet requirements. The goal is to
keep the output of the tool <span class=GramE>simple</span> so it translates
into a resource that an average user desires to implement to make site
assessments, but also evaluate traditional infrastructure, mixed, and GSI/LID
projects fiscally to drive decision-making and negotiations. <o:p></o:p></span></p>

<p class=MsoNormal><span style='font-size:12.0pt;line-height:107%'>Once the project
team, with PAC input, decides upon project components to be represented in
project cost estimates, the team will create a local cost database. The
database will incorporate ideas stemming from a facilitated dialog between the project
team and the PAC. Additionally, the research team will work with the PAC to
decide how this database will be utilized in the tool and accessed by users.
For example, the research team will need to figure out the accessibility of the
data for different user types. <o:p></o:p></span></p>

<p class=MsoNormal><span style='font-size:12.0pt;line-height:107%'>Based on the
PAC input throughout Task 1, Tetra Tech will formulate and document the preliminary
architecture concepts that will be used for testing and troubleshooting the
tool through Task 2. <o:p></o:p></span></p>

<p class=MsoNormal><i style='mso-bidi-font-style:normal'><u><span
style='font-size:12.0pt;line-height:107%'>Task 1 Deliverable<o:p></o:p></span></u></i></p>

<p class=MsoListParagraph style='text-indent:-.25in;mso-list:l17 level1 lfo16'><![if !supportLists]><span
style='font-size:12.0pt;line-height:107%;mso-bidi-font-family:Calibri;
mso-bidi-theme-font:minor-latin'><span style='mso-list:Ignore'>1.<span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp; </span></span></span><![endif]><span
style='font-size:12.0pt;line-height:107%'>Document summarizing the architectural
concepts to guide Task 2 tool construction<o:p></o:p></span></p>
      <p><a class="btn btn-primary" href="#" role="button">View details &raquo;</a></p>
    </div>


    <div class="col-lg-4">
      <h2>Task 2 - Construct the Prototype Cost Tool</h2>
        <p class=MsoNormal><span style='font-size:12.0pt;line-height:107%'>Tetra Tech
will build prototype techniques and tools that elaborate on the preliminary
architecture concepts for select users to test before building the full working
software. Once the requirements have been finalized and approved through the
prototyping process, development of the application will begin. Based on the
preliminary requirements, the application will be developed primarily in HTML
and will be compatible with the major browsers and their two most current
versions.  The development will take into
account browser dependencies, where possible, as well as interaction with
plug-ins.  <o:p></o:p></span></p>

<p class=MsoNormal><span style='font-size:12.0pt;line-height:107%'>The project
team will follow the agile development lifecycle (i.e., an industry standard
comprising a set of values and principles for software development under which
requirements and solutions evolve through the collaborative effort of
self-organizing cross-functional teams) and the finalized requirements will be
scoped into three incremental (6 week to 2 month) software releases. Each
release will be fully tested internally before being provided to the City (PAC)
for their release testing. Testing feedback will be collected, reviewed, and
implemented based on priorities and funding. This iterative approach to
development and testing allows the development team to rapidly receive and
address feedback from the tool testers. <o:p></o:p></span></p>

<p class=MsoNormal><span style='font-size:12.0pt;line-height:107%'>Key features
that Tetra Tech will create and get feedback from the PAC include: <o:p></o:p></span></p>

<p class=MsoListParagraphCxSpFirst style='text-indent:-.25in;mso-list:l5 level1 lfo7'><![if !supportLists]><span
style='font-size:12.0pt;line-height:107%;font-family:Wingdings;mso-fareast-font-family:
Wingdings;mso-bidi-font-family:Wingdings'><span style='mso-list:Ignore'>*<span
style='font:7.0pt "Times New Roman"'>&nbsp; </span></span></span><![endif]><span
style='font-size:12.0pt;line-height:107%'>The design of the web link for the
user login.  The initial thought is that
the application will not be publicly accessible. It is proposed that user access be controlled
through user authentication so all users will need a User Name and Password
managed by the City of Raleigh.<o:p></o:p></span></p>

<p class=MsoListParagraphCxSpMiddle style='text-indent:-.25in;mso-list:l5 level1 lfo7'><![if !supportLists]><span
style='font-size:12.0pt;line-height:107%;font-family:Wingdings;mso-fareast-font-family:
Wingdings;mso-bidi-font-family:Wingdings'><span style='mso-list:Ignore'>*<span
style='font:7.0pt "Times New Roman"'>&nbsp; </span></span></span><![endif]><span
style='font-size:12.0pt;line-height:107%'>The design and content of the main
home page with a brief description of the tool, purpose and how to use it, and
contact information for main point of contact if the user needs help. <o:p></o:p></span></p>

<p class=MsoListParagraphCxSpMiddle style='text-indent:-.25in;mso-list:l5 level1 lfo7'><![if !supportLists]><span
style='font-size:12.0pt;line-height:107%;font-family:Wingdings;mso-fareast-font-family:
Wingdings;mso-bidi-font-family:Wingdings'><span style='mso-list:Ignore'>*<span
style='font:7.0pt "Times New Roman"'>&nbsp; </span></span></span><![endif]><span
style='font-size:12.0pt;line-height:107%'>The types of scenario inputs that the
user would have the option to select and customize to describe the site for
which the tool is being applied - For example, these may include: <o:p></o:p></span></p>

<p class=MsoListParagraphCxSpMiddle style='margin-left:1.0in;mso-add-space:
auto;text-indent:-.25in;mso-list:l5 level2 lfo7'><![if !supportLists]><span
style='font-size:12.0pt;line-height:107%;font-family:"Courier New";mso-fareast-font-family:
"Courier New"'><span style='mso-list:Ignore'>o<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;
</span></span></span><![endif]><span style='font-size:12.0pt;line-height:107%'>SCM
sizing information<o:p></o:p></span></p>

<p class=MsoListParagraphCxSpMiddle style='margin-left:1.0in;mso-add-space:
auto;text-indent:-.25in;mso-list:l5 level2 lfo7'><![if !supportLists]><span
style='font-size:12.0pt;line-height:107%;font-family:"Courier New";mso-fareast-font-family:
"Courier New"'><span style='mso-list:Ignore'>o<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;
</span></span></span><![endif]><span style='font-size:12.0pt;line-height:107%'>Basic
infrastructure quantities (e.g., paved road, curb and gutter, parking area,
drainage piping) <o:p></o:p></span></p>

<p class=MsoListParagraphCxSpMiddle style='margin-left:1.0in;mso-add-space:
auto;text-indent:-.25in;mso-list:l5 level2 lfo7'><![if !supportLists]><span
style='font-size:12.0pt;line-height:107%;font-family:"Courier New";mso-fareast-font-family:
"Courier New"'><span style='mso-list:Ignore'>o<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;
</span></span></span><![endif]><span style='font-size:12.0pt;line-height:107%'>Option
to input user-defined unit cost information<o:p></o:p></span></p>

<p class=MsoListParagraphCxSpMiddle style='text-indent:-.25in;mso-list:l11 level1 lfo8'><![if !supportLists]><span
style='font-size:12.0pt;line-height:107%;font-family:Wingdings;mso-fareast-font-family:
Wingdings;mso-bidi-font-family:Wingdings'><span style='mso-list:Ignore'>*<span
style='font:7.0pt "Times New Roman"'>&nbsp; </span></span></span><![endif]><span
style='font-size:12.0pt;line-height:107%'>Formulating a basic results report
that talks about: <o:p></o:p></span></p>

<p class=MsoListParagraphCxSpMiddle style='margin-left:1.0in;mso-add-space:
auto;text-indent:-.25in;mso-list:l11 level2 lfo8'><![if !supportLists]><span
style='font-size:12.0pt;line-height:107%;font-family:"Courier New";mso-fareast-font-family:
"Courier New"'><span style='mso-list:Ignore'>o<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;
</span></span></span><![endif]><span style='font-size:12.0pt;line-height:107%'>Scenario
description<o:p></o:p></span></p>

<p class=MsoListParagraphCxSpMiddle style='margin-left:1.0in;mso-add-space:
auto;text-indent:-.25in;mso-list:l11 level2 lfo8'><![if !supportLists]><span
style='font-size:12.0pt;line-height:107%;font-family:"Courier New";mso-fareast-font-family:
"Courier New"'><span style='mso-list:Ignore'>o<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;
</span></span></span><![endif]><span style='font-size:12.0pt;line-height:107%'>BMP
and infrastructure assumptions<o:p></o:p></span></p>

<p class=MsoListParagraphCxSpMiddle style='margin-left:1.0in;mso-add-space:
auto;text-indent:-.25in;mso-list:l11 level2 lfo8'><![if !supportLists]><span
style='font-size:12.0pt;line-height:107%;font-family:"Courier New";mso-fareast-font-family:
"Courier New"'><span style='mso-list:Ignore'>o<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;
</span></span></span><![endif]><span style='font-size:12.0pt;line-height:107%'>Unit
cost assumptions<o:p></o:p></span></p>

<p class=MsoListParagraphCxSpMiddle style='margin-left:1.0in;mso-add-space:
auto;text-indent:-.25in;mso-list:l11 level2 lfo8'><![if !supportLists]><span
style='font-size:12.0pt;line-height:107%;font-family:"Courier New";mso-fareast-font-family:
"Courier New"'><span style='mso-list:Ignore'>o<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;
</span></span></span><![endif]><span style='font-size:12.0pt;line-height:107%'>Up
front capital costs, O&amp;M costs, and life-cycle costs for each element<o:p></o:p></span></p>

<p class=MsoListParagraphCxSpMiddle style='margin-left:1.0in;mso-add-space:
auto;text-indent:-.25in;mso-list:l11 level2 lfo8'><![if !supportLists]><span
style='font-size:12.0pt;line-height:107%;font-family:"Courier New";mso-fareast-font-family:
"Courier New"'><span style='mso-list:Ignore'>o<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;
</span></span></span><![endif]><span style='font-size:12.0pt;line-height:107%'>Total
costs<o:p></o:p></span></p>

<p class=MsoListParagraphCxSpMiddle style='text-indent:-.25in;mso-list:l11 level1 lfo8'><![if !supportLists]><span
style='font-size:12.0pt;line-height:107%;font-family:Wingdings;mso-fareast-font-family:
Wingdings;mso-bidi-font-family:Wingdings'><span style='mso-list:Ignore'>*<span
style='font:7.0pt "Times New Roman"'>&nbsp; </span></span></span><![endif]><span
style='font-size:12.0pt;line-height:107%'>Saving the scenario to the username
with a sorting filter option. <o:p></o:p></span></p>

<p class=MsoListParagraphCxSpMiddle style='text-indent:-.25in;mso-list:l11 level1 lfo8'><![if !supportLists]><span
style='font-size:12.0pt;line-height:107%;font-family:Wingdings;mso-fareast-font-family:
Wingdings;mso-bidi-font-family:Wingdings'><span style='mso-list:Ignore'>*<span
style='font:7.0pt "Times New Roman"'>&nbsp; </span></span></span><![endif]><span
style='font-size:12.0pt;line-height:107%'>Allowing the user to choose multiple
scenarios to compare costs (i.e., up to three scenarios for comparison). <o:p></o:p></span></p>

<p class=MsoListParagraphCxSpMiddle style='text-indent:-.25in;mso-list:l11 level1 lfo8'><![if !supportLists]><span
style='font-size:12.0pt;line-height:107%;font-family:Wingdings;mso-fareast-font-family:
Wingdings;mso-bidi-font-family:Wingdings'><span style='mso-list:Ignore'>*<span
style='font:7.0pt "Times New Roman"'>&nbsp; </span></span></span><![endif]><span
style='font-size:12.0pt;line-height:107%'>Enhanced viewing of results for a
single scenario or multiple scenario comparisons. <o:p></o:p></span></p>

<p class=MsoListParagraphCxSpMiddle style='text-indent:-.25in;mso-list:l11 level1 lfo8'><![if !supportLists]><span
style='font-size:12.0pt;line-height:107%;font-family:Wingdings;mso-fareast-font-family:
Wingdings;mso-bidi-font-family:Wingdings'><span style='mso-list:Ignore'>*<span
style='font:7.0pt "Times New Roman"'>&nbsp; </span></span></span><![endif]><span
style='font-size:12.0pt;line-height:107%'>Enhanced administrative functions as
resources allow. For example, add options that the City would like for
administration of the user data. <o:p></o:p></span></p>

<p class=MsoListParagraphCxSpLast style='text-indent:-.25in;mso-list:l11 level1 lfo8'><![if !supportLists]><span
style='font-size:12.0pt;line-height:107%;font-family:Wingdings;mso-fareast-font-family:
Wingdings;mso-bidi-font-family:Wingdings'><span style='mso-list:Ignore'>*<span
style='font:7.0pt "Times New Roman"'>&nbsp; </span></span></span><![endif]><span
style='font-size:12.0pt;line-height:107%'>Input regarding the look and design
of the tool (to the extent resources allow)<o:p></o:p></span></p>

<p class=MsoNormal><i style='mso-bidi-font-style:normal'><u><span
style='font-size:12.0pt;line-height:107%'>Task 2 Deliverables<o:p></o:p></span></u></i></p>

<p class=MsoListParagraphCxSpFirst style='text-indent:-.25in;mso-list:l15 level1 lfo17'><![if !supportLists]><span
style='font-size:12.0pt;line-height:107%;mso-bidi-font-family:Calibri;
mso-bidi-theme-font:minor-latin'><span style='mso-list:Ignore'>1.<span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp; </span></span></span><![endif]><span
style='font-size:12.0pt;line-height:107%'>Documentation of web-based tool
requirements<o:p></o:p></span></p>

<p class=MsoListParagraphCxSpMiddle style='text-indent:-.25in;mso-list:l15 level1 lfo17'><![if !supportLists]><span
style='font-size:12.0pt;line-height:107%;mso-bidi-font-family:Calibri;
mso-bidi-theme-font:minor-latin'><span style='mso-list:Ignore'>2.<span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp; </span></span></span><![endif]><span
style='font-size:12.0pt;line-height:107%'>Prototype tool (3 iterative versions)
releases for testing<o:p></o:p></span></p>

<p class=MsoListParagraphCxSpLast style='text-indent:-.25in;mso-list:l15 level1 lfo17'><![if !supportLists]><span
style='font-size:12.0pt;line-height:107%;mso-bidi-font-family:Calibri;
mso-bidi-theme-font:minor-latin'><span style='mso-list:Ignore'>3.<span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp; </span></span></span><![endif]><span
style='font-size:12.0pt;line-height:107%'>Final project tool for publishing<o:p></o:p></span></p>
      <p><a class="btn btn-primary" href="#" role="button">View details &raquo;</a></p>
    </div>
    <div class="col-lg-4">
      <h2>Heading</h2>
      <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa.</p>
      <p><a class="btn btn-primary" href="#" role="button">View details &raquo;</a></p>
    </div>
  </div>
    This is the Cost Tool web application.
<hr>
<a href="#" class="show_hide" style="font-size: 28px; text-decoration: none !important; color: black; padding-left: 20px;">+</a>
    &nbsp;&nbsp; Show/Hide Overview

<div class="slidingDiv" style="padding-left: 20px; padding-right: 20px;">
    <div w3-include-html="{% static 'scenario/CostToolScope.htm' %}"></div>
<script>
includeHTML();
</script>

</div>
</div>
{% endblock %}