{% extends "admin/base.html" %}
{% load i18n static %}

{% block title %}{{ title }} | {% trans "Custom Admin Title" %}{% endblock %}
{% block extrastyle %}
     <link rel="stylesheet" type="text/css" href="{% static "admin/admin_color.css" %}"/>
{% endblock %}
{% block branding %}
    {% if settings.HEADER_LOGO_URI != '' %}
        <img src="{% static '' %}{{  settings.HEADER_LOGO_URI}}" alt="logo" style="height: 40px; width: 40px;">
    {% endif %}
    <h1 id="site-name" style="display:inline-block; vertical-align: middle;">{% trans "GSI Cost Tool Admin Page" %}</h1>
{% endblock %}
{% block nav-global %}{% endblock %}

{% block footer %}<div id="footer">
    <h1>Site administration Documentation</h1>
    These MS Word documents include information used to manage User accounts, and to manage and update the data contained in the GSI Cost Tool.
<ol>
    <li><a href="{% static 'admin/docs/Authorizing a new User.docx' %}">Authorizing a new User</a></li>
    <li><a href="{% static 'admin/docs/Reset a User password.docx' %}">Reset a User password</a></li>
    <li><a href="{% static 'admin/docs/Adding a new Cost Item Default Cost.docx' %}">Adding a new Cost Item Default Cost</a></li>
    <li><a href="{% static 'admin/docs/Adding a new Land Area.docx' %}">Adding a new Land Area</a></li>
    <li><a href="{% static 'admin/docs/Adding a new Structure.docx' %}">Adding a new Structure</a></li>
    <li><a href="{% static 'admin/docs/Adding a new Cost Item.docx' %}">Adding a new Cost Item</a></li>
    <li><a href="{% static 'admin/docs/Updating Structure Cost Item Default Factors.docx' %}">Updating Structure/Cost Item Default Factors</a></li>
</ol>

There are additional documents for installing and updating the web application.  They are in the codebase for
the GSI Cost Tool.
</div>{% endblock %}
