{% extends "base.html" %}

{% load static %}
{% load crispy_forms_tags %}

{% block title %}{{ block.super }}Instructions{% endblock %}

{% block navbar-left %}
{% include "_navbar.html" with active_link="instructions" %}
{% endblock %}

{% block navbar-custom-right %}
{% include "_navbar-right.html" with active_link="NONE" %}
{% endblock %}

<!-- Benefits of the Django application -->
{% block content %}
<div class="container" style="padding-top: 10px;">
<div class="text-page" >

    <div class="row">
      <div class="col-md-12">
<h2>Using the Raleigh Cost Tool - Instructions</h2>
<img src="{% static 'costly/img/finger123.jpg' %}" style="float: right; height: 312px;width:248px;">
          <div style="color: green; font-weight: bold; text-decoration: underline;">Setting up your account</div>
Before starting any projects, add information to set up your account by clicking on your username on the
          far right of the menubar, and then selecting “Account.” Click on the “Edit Account” button and
          input the information as requested. For information under the “Short Bio” field please input a
          brief description of your discipline and experience related to site design.
          For “Desired Level of Tool Use” please select one of the two options under
          the drop-down menu using the down arrow on the right side of the entry box.
          Only professionals that will interact with the City of Raleigh regarding project
          design and review should select the “Professional user” option. All others should
          select the “Standard user” option. Click on the “Save changes” button and review
          the summary for accuracy. Edit again if needed, or click on the
          Project Page and follow the instructions below to set up a new project and begin using the tool.
<br><br>
<div style="color: green; font-weight: bold; text-decoration: underline;">Setting up a new project</div>
To begin a project site assessment using the Raleigh Cost Tool, navigate to the <strong>PROJECTS</strong> tab
          from the menubar and click on the
          <div style="display: inline; font-weight: bold; color: mediumblue;">NEW PROJECT BUTTON.</div>
          When you create a new project, specify a title,
          project description, the location and size of the project, and purchase information.
          Projects can be exported into .csv, excel, PDF, or printed.
          The summary table of your project displayed on the <strong>PROJECT PAGE</strong>
          can also be copied and pasted into a word document file or spreadsheet.
<br><br>
<div style="color: green; font-weight: bold; text-decoration: underline;">Designing scenarios for your project</div>
After creating a project, click the
          <div style="display: inline; font-weight: bold; color: goldenrod;">SCENARIOS BUTTON</div> to view and existing scenarios or create a new one.
              Click the
          <div style="display: inline; font-weight: bold; color: mediumblue;">NEW SCENARIO BUTTON</div>
          to create a new scenario, where you will be directed to a
              new page to begin adding information about your scenario. You can click to go back to the
              main <strong>SCENARIO PAGE</strong> at any point to delete, edit, copy, or export your scenario.
          When a scenario is selected, the
          <div style="display: inline; font-weight: bold; color: mediumblue;">DUPLICATE SCENARIO BUTTON</div>
          will be displayed. When clicked, select yes on the prompt if you want to create a copy of your scenario.
<br><br>
When editing or creating a new scenario, the main <strong>COST TOOL PAGE</strong>
              will display five new tabs: (1) Project-Scenario Description, (2) Structure, (3) Structure Costs, (4) Cost Item Unit Costs, and (5) Results. On these tabs, you can click on the green headers (e.g. Project Information) to get more information about the content in that section. Hovering you mouse over individual cells will display help text.

          <ul style="margin-bottom: -20px;">
   <li>The Project-Scenario Description, Non-Conventional Structures, and Conventional Structures Tabs describe features and structures that can occur based on your project type selection. To learn more about each feature or structure and what changes to the Raleigh Unified Development Ordinance apply, simply click on it. Cost information will be generated for both features and structures if you enter a value in the empty cell next to the name. If you don’t want to include a feature or structure in your final cost analysis but want to keep the values you’ve entered in the textbox, you can deselect the feature or structure by clicking on the checkbox.
<li>The Structures Cost Tab provides information about the tool’s default assumptions for cost items that are calculated per structure and the project’s life cycle costs. You can update any of the cells with values that are specific to your project scenario. To add or remove cost items, click the checkbox. To view other cost items and/or add cost items to a structure that are not selected as a default cost item, click on the checkbox next to the text ‘Show all Cost Items’.
<li>The Cost Item Unit Costs allows for adjustments to the default unit cost for individual cost items. Use the dropdown button in the Unit Cost Column to select values form three choices: (1) RSMeans, (2) the cost tool database, or (3) a user option to define your unit cost information. Default values for the replacement life and ongoing operations and maintenance factor numbers can be changed on this tab as well.
<li>The Results Tab provides a summary of the costs for structures in your project site and overall project life cycle costs. Scenario results are saved automatically - if you log out or wish to start a new project or scenario you can review them later.

          </ul>
<br><br>
<div style="color: green; font-weight: bold; text-decoration: underline;">Comparing scenarios</div>
When at least two scenarios have been created for a project, you can compare the scenarios.
          To do so, click on the scenarios you want to compare (they will become highlighted)
          and then click the
          <div style="display: inline; font-weight: bold; color: mediumblue;">COMPARE SCENARIOS BUTTON.</div>
          A new page will open displaying summaries of the two scenarios and how they differ from each other. To unselect a scenario, simply click on the row of the scenario you no longer want to have highlighted.
<br><br>
          <strong>
If you experience any problems while using this tool or have any comments about how to improve the tool, you can contact the tool administrator: CostToolAdministrator@raleighnc.gov.
</strong>



      </div>
      </div>
    </div>
  </div>
</div>






{% endblock content %}

{% block scripts %}

{% endblock scripts %}
