{% extends "base.html" %}

{% load static %}
{% load crispy_forms_tags %}

{% block title %}{{ block.super }}Why GSI{% endblock %}

{% block navbar-left %}
{% include "_navbar.html" with active_link="why" %}
{% endblock %}

{% block navbar-custom-right %}
{% include "_navbar-right.html" with active_link="NONE" %}
{% endblock %}

<!-- Benefits of the Django application -->
{% block content %}
<div class="container" style="padding-top: 10px;">
<div  class="text-page" >

    <div class="row">
      <div class="col-md-12">
        <h2>Why is Raleigh investing in GSI?</h2>
                <p></p>
          <p>
<img src="{% static 'gsicosttool/img/curve.jpg' %}" style="float: right; height: 210px;">
The Raleigh GSI Cost Tool is part of the City’s greater initiative to implement
            more Green Stormwater Infrastructure (GSI) throughout new and existing development sites. The City has a goal to incorporate a greater number of distributed practices on site to maximize stormwater capture. The standard design that development sites use for stormwater management is designating a large portion of land adjacent to the site for the installation of an end-of-pipe conventional structure, such as a stormwater wetland or detention pond. The City wants to show developers
              and designers that a site can use a more creative solution that can be more cost effective compared to the conventional solutions. Using distributed practices to better manage stormwater runoff helps
            minimize the amount of excess land needed to meet the three main levels of compliance:
            <ul><li>	Nutrient management with or without buy down
                <li>	Stormwater volume requirements
                <li>	Peak flow capture
              </li>
              </ul>

        </p>
        <p>
The City is also interested in GSI because of the additional social and environmental benefits that it can provide.
            Several tools have been created to view the triple bottom line (i.e., economic, social, and environmental) benefits
            that alternative designs like GSI provide a community.
        </p>

<i>CNT’s Green Values® Calculator</i>
          <p>
The Center for Neighborhood Technology (CNT) created a Green Values Stormwater Toolbox to help people
              evaluate different sustainable design opportunities. The tool references a national database
              to generate a cost analysis that compares green infrastructure practices to conventional stormwater practices.
              It also calculates a design’s annual benefits to provide things like reduced air pollutants, carbon dioxide
              sequestration, and groundwater replenishment. While the tool’s hydrology components are derived from the
              Great Lakes Region, CNT has created a national scale version of the tool to apply a coarse estimate of
              these potential benefits. For more information about the tool, click
              <a href="http://greenvalues.cnt.org/">here.</a>
</p>
<i>Envision</i>
          <p>
Envision is a tool created by the Institute for Sustainable Infrastructure (ISI) to help guide decision-making
              for development and infrastructure projects. This tool helps the user examine the triple bottom
              line benefits of a project and aid in design decisions. Envision uses a set of 64 sustainability
              and resilience indicators to rank a project based on how it impacts the quality of life for community members,
              leadership, resource allocation, natural world, and climate and resilience. For more information about the tool, click
              <a href="https://sustainableinfrastructure.org/envision/">here.</a>
</p>
<i>USDA i-Tree Software Suite</i>
          <p>
The United States Department of Agriculture Forest Service (USDA) created a tool to look at the benefits of urban
              and rural tree forest management. While this tool focuses on trees, it can still help inform
              developers and designers about the importance implementing trees on site and the benefits
              they provide the community. For more information about the tool, click
              <a href="http://www.itreetools.org/about.php">here.</a>
          </p>

      </div>
    </div>
  </div>
</div>




{% endblock content %}

{% block scripts %}

{% endblock scripts %}
