{% load static %}

<div id="{{ costitem_code }}" class="cost_item_help_FOOBAR">
    {%  if costitem_meta.count > 1 %}
        {% if costitem_code != 'all' %}
            <p>Unable to find structure with code {{ costitem_code }}</p>
            {% else %}
            <style>.closebutton { display: none; }</style>
        {% endif %}
        List of available structure codes<br>
        <ol>
        {%  for structure in costitem_meta %}
            <li><button type="button" onclick="close_cost_item_help(this);" class="closebutton">
                <img src="{% static 'scenario/images/close2.gif' %}" style="border:0;">
            </button>
            <h4>{{ structure.name }} -- {{ structure.code }}</h4>
            {{ structure.help_text }}</li>
        {% endfor %}
        </ol>
    {%  else %}
        <button type="button" onclick="close_cost_item_help(this);" class="closebutton">
            <img src="{% static 'scenario/images/close2.gif' %}" style="border:0;">
        </button>
        <h4>{{ costitem_meta.name }}</h4>
        {{ costitem_meta.help_text }}
        <div>
        <table style="margin-top: 5px;">
            <tr><th>Property</th><th>Default Value</th></tr>
            <tr>
                <td>Unit Cost</td><td style="text-align: right;">{{ cost_item_default_cost.rsmeans_va }}</td></tr>
            <tr><td>Replacement Life</td><td style="text-align: right;">{{ cost_item_default_cost.replacement_life }} years</td></tr>
            <tr><td>Annual O&amp;M</td><td style="text-align: right;">{{ cost_item_default_cost.o_and_m_pct }}%</td></tr>
            </tr>
        </table>
        </div>
    {%  endif %}
</div>
