<form method="post"
      id="scenario-duplicate-form"
      action="{% url 'scenario:scenario_duplicate' scenario.id %}"
      class="js-scenario-duplicate-form">
  {% csrf_token %}

  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title">Confirm</h4>
  </div>
  <div class="modal-body">

    <p class="lead">Are you sure you want to create a copy of the scenario
        "<strong>{{ scenario.scenario_title }}</strong>"?</p>
  </div>
    <span id="help-block"></span>
   <table border="0" cellpadding="0" cellspacing="0" class="ft"   style="width:98%;margin-bottom: 10px;">
    <tbody>
        <col width="25%">
        <col width="75%">
        <tr>
            <td style="padding-left: 10px;">Scenario Title</td>
            <td class="input-group input-group-sm" id="input-group">

                <input type="hidden" name="dup_scenario_title" value="{{ scenario.scenario_title }}">
                <input type="text"
                       name="scenario_title"
                       id="scenario_title"
                       class="form-control"
                        title="Scenario Title Help Text"

                    value="{{ scenario.scenario_title }} (copy)"
                >
           </td>
        </tr>
    </tbody>
</table>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    <button type="submit" class="btn btn-primary">'<span class="glyphicon glyphicon-duplicate"></span>Create Copy</button>
  </div>
</form>