{% load staticfiles %}

<div id="{{ costitem_code }}">
    {%  if costitem_meta.count > 1 %}
        {% if costitem_code != 'all' %}
            <p>Unable to find structure with code {{ costitem_code }}</p>
            {% else %}
            <style>.closebutton { display: none; }</style>
        {% endif %}
        List of available structure codes<br>
        <ol>
        {%  for structure in costitem_meta %}
            <li><button type="button" onclick="close_ci_help(this);" class="closebutton">
                <img src="{% static 'scenario/images/close2.gif' %}" style="border:0;">
            </button>
            <h4>{{ structure.name }} -- {{ structure.code }}</h4>
            {{ structure.help_text }}</li>
        {% endfor %}
        </ol>
    {%  else %}
    <button type="button" onclick="close_ci_help(this);" class="closebutton">
        <img src="{% static 'scenario/images/close2.gif' %}" style="border:0;">
    </button>
    <h4>{{ costitem_meta.name }}</h4>
    {{ costitem_meta.help_text }}
    {%  endif %}
</div>
