<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="GSICostTool FastCGI Module" path="*" verb="*" modules="FastCgiModule" 
			scriptProcessor="C:\software\Python\virtualenvs\gsicosttool\Scripts\python.exe|C:\software\Python\virtualenvs\gsicosttool\Lib\site-packages\wfastcgi.py" 
			resourceType="Unspecified" requireAccess="Script" allowPathInfo="false" preCondition="" responseBufferLimit="4194304"
			 />
        </handlers>
    </system.webServer>
	<appSettings>
		<!-- Required settings -->
		<add key="WSGI_HANDLER" value="django.core.wsgi.get_wsgi_application()" />
		<add key="PYTHONPATH" value="C:\inetpub\wwwdjango\gsicosttool\src" />
		<add key="DJANGO_SETTINGS_MODULE" value="costly.settings.production" />	
		<!-- Optional settings -->
		<add key="WSGI_LOG" value="C:\inetpub\wwwdjango\gsicosttool\logs\production\wsgi.log" />
		<add key="WSGI_RESTART_FILE_REGEX" value=".*((\.py)|(\.config)|(\.html))$" />
	</appSettings>	
</configuration>
