{% load humanize %}
{% load mathfilters %}

<style>


</style>


<div>
    <p>Check for differences across design scenarios. The cost differences presented are impacted by
    the order of comparison, with the values associated with the scenario on the left side being
    subtracted from the scenario on the right side. The user may switch the order of the scenarios by clicking
    on the opposing arrow icon in the upper right corner of the second scenario.
    </p>
</div>
{#<div class="project_table" style="position: absolute"></div>#}
<div class="design_elements" style="position: absolute; color: red; margin-top: 42px; margin-right: 10px; {% if diff.design_elements is False %}display: none;{% endif %}">
ALERT: You have indicated one or more differences in the <b>Design Elements</b> basis for project design.
For comparisons, it is generally recommended that both designs meet the same performance criteria.
When this is not the case, reviewers should consider the differences in expected performance along with cost.
</div>
<div class="pervious" style="position: absolute">
    <table class="result_table">
        <col style="width: 60%">
        <col style="width: 40%">
        <tbody>
            <tr>
                <td>Difference in Pervious Area</td>
                <td class="result_col input_col"> {{ diff.pervious_area|intcomma   }} ft<sup>2</sup></td>
            </tr>
            <tr>
                <td>Difference in Impervious Area</td>
                <td class="result_col input_col"> {{ diff.impervious_area|intcomma  }} ft<sup>2</sup></td>
            </tr>
            {% if diff.pervious is True %}
            <tr>
                <td colspan="2" style="color: red;">Stormwater fees are influenced by the amount of impervious area on your site.
                    You have indicated a difference in the <b>Impervious Areas</b>
                    between scenarios that may impact the amount of stormwater fees you will be required to pay. </td>

            </tr>
            {% endif %}
        </tbody>
    </table>
</div>

<div class="planning_and_design" style="position: absolute; color: red; margin-top: 36px; margin-right: 10px; {% if diff.planning_and_design is False %}display: none;{% endif %}">
ALERT: You have indicated one or more differences in the <b>Life Cycle Costs Assumptions</b> components.
    For cost comparisons across design,
    it is recommended that both scenarios use the same life cycle cost values.
</div>

<div class="project_life_cycle_costs" style="position: absolute;">
    <table  class="result_table">

        <col style="width: 60%">
        <col style="width: 40%">
        <caption>Difference in Project Life Cycle Costs</caption>
        <thead>
            <tr>
                <th class="cost_item_th">Item</th>
                <th class="cost_item_th">Dollars</th>
            </tr>

        </thead>
        <tr>
          <td style="font-weight: bold;">Construction</td>
            <td class="result_col output_col"><div class="dollar">$</div>{{ diff.project_life_cycle_costs.construction|floatformat:"0"|intcomma }}</td>
        </tr>
        <tr>
          <td style="font-weight: bold;">Planning and Design</td>
          <td class="result_col output_col"><div class="dollar">$</div>{{ diff.project_life_cycle_costs.planning_and_design|floatformat:"0"|intcomma}}</td>
        </tr>
        <tr>
          <td style="font-weight: bold;">O&amp;M</td>
          <td class="result_col output_col"><div class="dollar">$</div>{{ diff.project_life_cycle_costs.o_and_m|floatformat:"0"|intcomma }}</td>
        </tr>
        <tr>
          <td style="font-weight: bold;">Replacement</td>
          <td class="result_col output_col"><div class="dollar">$</div>{{ diff.project_life_cycle_costs.replacement|floatformat:"0"|intcomma }}</td>
        </tr>
        <tr>
          <td style="font-weight: bold;text-align: right;">Total</td>
          <td class="result_col output_col" style="border-top: double;"><div class="dollar">$</div>
              <div class="project_life_cycle_costs_total">{{ diff.project_life_cycle_costs.total|floatformat:"0"|intcomma }}</div></td>
        </tr>
    </table>

</div>



<div class="construction_costs"  style="position: absolute;">
    <table  class="result_table">

        <col style="width: 50%">
        <col style="width: 25%">
        <col style="width: 25%">
        <caption>Difference in Project Construction Costs</caption>
        <thead>
        <tr>
            <th class="cost_item_th">Structure Class</th>
            <th class="cost_item_th">Construction</th>
            <th class="cost_item_th">P &amp; D</th>
        </tr>
        </thead>
        <tr>
          <td style="font-weight: bold;">Green Infrastructure (GSI)</td>

          <td class="result_col output_col"><div class="dollar">$</div>{{ diff.nonconventional.construction|floatformat:"0"|intcomma }}</td>
          <td class="result_col output_col"><div class="dollar">$</div>{{ diff.nonconventional.planning_and_design|floatformat:"0"|intcomma }}</td>
        </tr>
        <tr>
          <td style="font-weight: bold;">Gray Infrastructure</td>

          <td class="result_col output_col"><div class="dollar">$</div>{{ diff.conventional.construction|floatformat:"0"|intcomma}}</td>
            <td class="result_col output_col"><div class="dollar">$</div>{{ diff.conventional.planning_and_design|floatformat:"0"|intcomma}}</td>
        </tr>
        <tr>
          <td style="font-weight: bold;text-align: right;">Total</td>

          <td class="result_col output_col"  style="border-top: double;"><div class="dollar">$</div>{{ diff.project_life_cycle_costs.construction|floatformat:"0"|intcomma }}</td>
          <td class="result_col output_col"  style="border-top: double;"><div class="dollar">$</div>{{ diff.project_life_cycle_costs.planning_and_design|floatformat:"0"|intcomma }}</td>
        </tr>
    </table>
</div>

<div class="final_costs o_and_m_costs"  style="position: absolute;">
    <table class="result_table" >
        <col style="width: 50%">
        <col style="width: 25%">
        <col style="width: 25%">
        <caption>Difference in O&amp;M and Replacement Costs</caption>
        <thead><tr>
            <th class="cost_item_th" >Structure Class</th>
            <th class="cost_item_th">O&amp;M</th>
            <th class="cost_item_th">Replacement</th></tr>
        </thead>

            <tr>
                <td style="font-weight: bold;">Green Infrastructure (GSI)</td>
                <td class="result_col output_col"><div class="dollar">$</div>{{ diff.nonconventional.o_and_m|floatformat:"0"|intcomma }}  </td>
                <td class="result_col output_col"><div class="dollar">$</div>{{ diff.nonconventional.replacement|floatformat:"0"|intcomma }} </td>
            </tr>
            <tr>
                <td style="font-weight: bold;">Gray Infrastructure</td>
                <td class="result_col output_col"><div class="dollar">$</div>{{ diff.conventional.o_and_m|floatformat:"0"|intcomma }}  </td>
                <td class="result_col output_col"><div class="dollar">$</div>{{ diff.conventional.replacement|floatformat:"0"|intcomma }} </td>
            </tr>

        <tr>
            <td style="font-weight: bold; text-align: right; padding-right: 5px;">Total</td>
            <td class="result_col output_col" style="border-top: double;"><div class="dollar">$</div>{{diff.project_life_cycle_costs.o_and_m|floatformat:"0"|intcomma }}</td>
            <td class="result_col output_col" style="border-top: double;"><div class="dollar">$</div>{{ diff.project_life_cycle_costs.replacement|floatformat:"0"|intcomma }}</td>
        </tr>
    </table>
</div>

<div class="life_cycle_costs"  style="position: absolute;">
    <table class="result_table" >
        <col style="width: 60%">
        <col style="width: 40%">
        <caption>Difference in Life Cycle Costs</caption>
        <thead><tr>
            <th class="cost_item_th" >Structure Class</th>
            <th class="cost_item_th">Life Cycle Total</th>
        </thead>
        <tr>
            <td style="font-weight: bold;">Green Infrastructure (GSI)</td>
            <td class="result_col output_col"><div class="dollar">$</div>{{ diff.nonconventional.total|floatformat:"0"|intcomma }}  </td>
        </tr>
        <tr>
            <td style="font-weight: bold;">Gray Infrastructure</td>
            <td class="result_col output_col"><div class="dollar">$</div>{{ diff.conventional.total|floatformat:"0"|intcomma }}  </td>
        </tr>
        <tr>
            <td style="font-weight: bold; text-align: right; padding-right: 5px;">Total</td>
            <td class="result_col output_col" style="border-top: double;"><div class="dollar">$</div>{{diff.project_life_cycle_costs.total|floatformat:"0"|intcomma }}</td>
        </tr>
    </table>
</div>

<div class="resultDetails" style="width: 387px; position: absolute;">

    <div class="areal_features comparison_column w3-container w3-animate-slide w3-hide " style="width: 380px;">
    <table class="result_table details_result_table">
    <thead><tr>
      <th>Land Area</th>
      <th>Area ft<sup>2</sup></th>
    </tr>
    </thead>
    {% for r,obj in diff.areal_features.item_list.items %}
        <tr>
          <td> {{ obj.label }}</td>
          <td class="result_col input_col"> {{ obj.area|intcomma }}</td>
        </tr>
        {%  if r == 'stormwater_management_feature' and obj.area != 0%}
            <tr>
              <td colspan="2" style="color: red;">You have indicated a decision to change the amount of
                  land used exclusively for stormwater management between scenario designs.
                  This change could indicate that you have available land for alternative uses.
                  The value of this land based on the cost per square foot to own the land is
                  {{ obj.area|intcomma }} * {{ obj.project_land_unit_cost }} = {{ obj.project_land_cost_diff|intcomma }}.
                  The additional land can be used in the project site development for other uses of higher value. </td>
            </tr>
        {% endif %}
    {% endfor %}
        <tr>
          <td style="text-align: center;">Total</td>
          <td class="result_col output_col"> {{ diff.areal_features.total_area|intcomma }}</td>
        </tr>
    </table>
</div>
</div>


