{% extends 'base.html' %}

{% load static %}
{% block title %}{{ block.super }}Scenarios{% endblock %}
{% block javascriptOLD %}
{% endblock %}

{% block extra_css %}
    <link href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" rel="stylesheet">
    <link href="https://cdn.datatables.net/buttons/1.5.2/css/buttons.dataTables.min.css" rel="stylesheet">
{% endblock extra_css %}

{% block navbar-left %}
    {% include "_navbar.html" with active_link="reference" %}
{% endblock navbar-left %}

{% block content %}

<div style="padding-top: 20px; vertical-align:middle; line-height: 28px" >
	<span style="font-size: 38px; float:left; ">{{ header_2 }}</span>
    {%  if can_add %}
    <!--This was the ajax (modal) version-->
    <!--<button type="button" class="btn btn-primary js-create-scenario" style="font-size: 16px; float:right; "data-url="{% url 'scenario:scenario_create' %}">-->
      <!--<span class="glyphicon glyphicon-plus"></span>-->
      <!--New scenario-->
    <!--</button>-->
    <!-- this loads a new page -->

    {% endif %}

	<div style="clear: both;"></div>
    <br>
</div>
{% if user.is_superuser %}
    <div id="is_superuser" display="none";></div>
{% endif %}
<table class="table responsive no-wrap" id="costitem-table">
    <thead>
        <tr>
            <th >Sort #</th>
            <th >Cost Item</th>
            <th>Bid Units</th>

            <th>RSMeans</th>
{#            <th>DB 25 Percentile</th>#}
{#            <th>DB Avg</th>#}
{#            <th>DB 75 Percentile</th>#}
            <th>Replacement Life</th>
            <th>O&amp;M</th>
<!--            <th>Edit</th>-->
        </tr>
    </thead>
</table>

<div class="modal fade" id="modal-costitem">
    <div class="modal-dialog">
        <div class="modal-content"></div>
    </div>
</div>

{% endblock %}

{% block new_extra_js %}
    <script src="//cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script src="//cdn.datatables.net/buttons/1.5.2/js/dataTables.buttons.min.js"></script>

    <script src="//cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
    <script src="//cdn.datatables.net/buttons/1.5.2/js/buttons.html5.min.js"></script>
    <script src="//cdn.datatables.net/buttons/1.5.2/js/buttons.print.min.js"></script>

    <script type="text/javascript" language="Javascript" src="{% static 'scenario/js/urls.js' %}"></script>
    {% if IIS_APP_ALIAS != '' %}
        <script>
        // add the IIS Application Alias to each of the URL values
            var IIS_APP_ALIAS = "{{ IIS_APP_ALIAS }}";
            if (IIS_APP_ALIAS.length > 0) {
                for (var key in SETTINGS.URLS) {
                    SETTINGS.URLS[key] = '/' + IIS_APP_ALIAS + SETTINGS.URLS[key];
                }
            }
        </script>
    {% endif %}

    <script src="{% static 'scenario/js/costitems_default_costs_list.js' %}"></script>
{% endblock %}