
{#NOTE: this is not used#}

{% for project in projects %}
  <tr>
    <td>{{ project.id }}</td>
    <td>{{ project.user }}</td>
    <td>{{ project.shared_description }}</td>
    <td>{{ project.legal_description }}</td>
    <td>{{ project.size }}</td>
    <td>{{ project.development_type }}</td>
    <td>{{ project.soil_type }}</td>

    <td style="width: 150px">
      <button type="button"
              class="btn btn-warning btn-sm js-update-project"
              data-url="{% url 'scenario:project_update' project.id %}">
        <span class="glyphicon glyphicon-pencil"></span> Edit
      </button>
      <button type="button"
              class="btn btn-danger btn-sm js-delete-project"
              data-url="{% url 'scenario:project_delete' project.id %}">
        <span class="glyphicon glyphicon-trash"></span> Delete
      </button>
    </td>
  </tr>
{% empty %}
  <tr>
    <td colspan="8" class="text-center bg-warning">No projects</td>
  </tr>
{% endfor %}